<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Ideal Reports"
            id="IdealUnitSpecificationExperimental.commands.category">
      </category>
      <command
            name="SP Command"
            categoryId="IdealUnitSpecificationExperimental.commands.category"
            id="IdealUnitSpecificationExperimental.commands.spCommand">
      </command>
      <command
            name="VP Command"
            categoryId="IdealUnitSpecificationExperimental.commands.category"
            id="IdealUnitSpecificationExperimental.commands.vpCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="IdealUnitSpecificationExperimental.commands.spCommand"
            class="sp.SPHandler">
      </handler>
      <handler
            commandId="IdealUnitSpecificationExperimental.commands.vpCommand"
            class="vp.VPHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="IdealUnitSpecificationExperimental.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="IdealUnitSpecificationExperimental.toolbars.reportsToolbar">
            <command
                  commandId="IdealUnitSpecificationExperimental.commands.spCommand"
                  icon="icons/sample.gif"
                  tooltip="Build SP"
                  id="IdealUnitSpecificationExperimental.toolbars.spCommand">
            </command>
            <command
                  commandId="IdealUnitSpecificationExperimental.commands.vpCommand"
                  icon="icons/sample.gif"
                  tooltip="Build VP"
                  id="IdealUnitSpecificationExperimental.toolbars.vpCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
